.main {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-auto-rows: auto;
  max-width: 1000px;
  height: fit-content;
  align-self: center;
}

.thumbnail {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

.thumb_image {
  // height: 100%;
  width: 100%;
  object-fit: cover;
}

.item_card {
  // height: 250px;
  min-width: 200px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.item_card:hover {
  background-color: black;
  color: white;
}

@media (hover: none) {
  .item_card:hover {
    background-color: inherit;
    color: inherit;
  }
}


.item_title {
  margin-top: 3px;
  font-size: 1.2em;
  font-weight: 800;
}

.price {
  font-weight: 300;
  font-size: 1.1em;
}

.add_cart {
  background-color: #c7053d;
  border: 1px solid #c7053d;
  color: white;
  padding: 10px 20px;
  width: 150px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.in_cart {
  background-color: white;
  color: #c7053d;
}
